.navbar {
    background-color: #87CEEB;
}
/*table {*/
/*    width: 100%;*/
/*    table-layout: fixed;*/
/*}*/
thead {
    background-color: #f2f2f2;
}
th {
    font-weight: bold;
}
.search-form {
    margin-left: -10px;
}
.ml-auto-custom {
    margin-left: 0 !important;
    margin-right: auto !important;
}
.content-container {
    margin-top: 20px;
    margin-bottom: 20px;
}
.table th, .table td {
    width: fit-content;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.btn-edit {
    background-color: #ffc107 !important;
    color: #000 !important;
}
.btn-delete {
    background-color: #dc3545 !important;
    color: #fff !important;
}